@fontface {
font-family: 'Zen Kaku Gothic Antique', sans-serif;
  src: url('../fonts/ZenKakuGothicAntique-Regular.ttf') format('truetype');
  font-style: normal;
}

@fontface {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  src: url('../fonts/ZenKakuGothicAntique-Light.ttf') format('truetype');
  font-style: normal;
}

@fontface {
font-family: 'Zen Kaku Gothic Antique', sans-serif;
src url('../fonts/ZenKakuGothicAntique-Bold.ttf') format('truetype');
font-weight: 900;
}

@font-face {
  font-family: 'Cormorant Garamond', serif;
  src url('../fonts/Cormorant Garamond-Light.tff') format('truetype');
  font-weight: 300;
}
